body{
    
    background-color: rgb(17, 16, 16);
    
}
#banner{
    width: 100%;
    height: 300px;
    margin-left: 0px;
    
}

header{
    text-align: center;
    font-family: Optima, sans-serif;
    color: rgb(255, 248, 248);
}

header h1{
    font-size: 40px;

}

header h4{
    font-weight:lighter;
    font-style: italic;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav ul{
    padding: 1px;
    margin: 2px;
}

nav li{
    display: inline-block;
    padding: 20px;
}


a {
    text-decoration: none;
    color: whitesmoke;
    
}

a li{
    scroll-behavior: smooth;

}

a :active{
    color: gray;
}

a :visited{
    color: none;
}

a :hover{
        color: rgba(55, 197, 145, 0.975);
    }


#titulo1{
    font-size: 35px;
    color: whitesmoke;
    display: inline-block;
    border: 5px double rgb(111, 221, 183);
    border-top: none;
    border-right: none ;
    padding-left: 7px;
    
}



#texto1{
    display:inline-block
    font-family: Optima, sans-serif ;
    text-align: justify;
    margin: 30px;
    font-size: 20px;
    color: whitesmoke;
    line-height: 40px;
    border: 2px solid rgb(111, 221, 183);
    
    padding-left: 10px;
    margin-left: 4px;
    border-right: none ;
    border-bottom: none;
    border-top: none;
    
}

article{
    color: whitesmoke;
}

article h2{
    
}

article h3{

}